<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="includes/ico.png" type="image/png">
    <meta name="description" content="Visualisation 3D de la simulation N-Body avec gestion des particules et des paramètres de simulation.">
    <meta name="keywords" content="N-Body, simulation, 3D, visualisation, particules, paramètres, WebGL">
    <meta name="author" content="Corentin Levalet and Simao Cortinhal, M2 S10 Projet CHPS1005">
    <title>Visualisation N-Body 3D</title>
    <link rel="stylesheet" href="includes/styles.css">
</head>
<body>
    <div id="top-right-btns" style="position: fixed; top: 18px; right: 24px; z-index: 1100; display: flex; gap: 10px;">
        <button id="toggleGuiBtn" title="Afficher/Masquer l'interface">
            <span id="toggleGuiBtnText">Cacher GUI</span>
        </button>
        <button id="closeBtn" title="Fermer l'application">
            <span id="closeBtnText">Fermer</span>
        </button>
    </div>
    <div id="overlays-container">
        <div id="overlay-settings">
            <h2>Paramètres Simulation</h2>
            <form id="settingsForm" autocomplete="off">      
                <div class="form-row">
                    <label for="nb_particles">nbParticles</label>
                    <span class="current-value" id="nb_particles_current"></span>
                    <input type="number" name="nb_particles" id="nb_particles_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="current_time">currentTime</label>
                    <span class="current-value" id="current_time_current"></span>
                    <input type="number" step="0.1" name="current_time" id="current_time_input" placeholder="Modifier...">
                </div> 
                <div class="form-row">
                    <label for="t_total">maxTime</label>
                    <span class="current-value" id="t_total_current"></span>
                    <input type="number" step="0.1" name="t_total" id="t_total_input" placeholder="Modifier...">
                </div>       
                <div class="form-row">
                    <label for="dt">deltaTime</label>
                    <span class="current-value" id="dt_current"></span>
                    <input type="number" step="0.000001" name="dt" id="dt_input" placeholder="Modifier...">
                </div>
                <div class="form-actions">
                    <button type="submit" id="updateBtn">
                        <span class="icon" id="updateIcon">
                            <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:18px;height:18px;">
                                <path d="M10 2a8 8 0 1 1-7.446 5.032l1.857.742A6 6 0 1 0 10 4V2z"/>
                                <polygon points="2,2 6,2 6,6" fill="#23272f"/>
                            </svg>
                        </span>
                        Mettre à jour
                    </button>
                    <button type="button" id="pauseBtn">
                        <span id="pauseIcon" class="icon"></span>
                        <span id="pauseBtnText"></span>
                    </button>
                </div>
            </form>
        </div>
        <div id="overlay-boxsimulation">
            <h2>Limites de la boîte de simulation</h2>
            <form id="boxForm" autocomplete="off">
                <div class="form-row">
                    <label for="MIN_X">MIN_X</label>
                    <span class="current-value" id="MIN_X_current"></span>
                    <input type="number" step="0.1" name="MIN_X" id="MIN_X_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="MIN_Y">MIN_Y</label>
                    <span class="current-value" id="MIN_Y_current"></span>
                    <input type="number" step="0.1" name="MIN_Y" id="MIN_Y_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="MIN_Z">MIN_Z</label>
                    <span class="current-value" id="MIN_Z_current"></span>
                    <input type="number" step="0.1" name="MIN_Z" id="MIN_Z_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="MAX_X">MAX_X</label>
                    <span class="current-value" id="MAX_X_current"></span>
                    <input type="number" step="0.1" name="MAX_X" id="MAX_X_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="MAX_Y">MAX_Y</label>
                    <span class="current-value" id="MAX_Y_current"></span>
                    <input type="number" step="0.1" name="MAX_Y" id="MAX_Y_input" placeholder="Modifier...">
                </div>
                <div class="form-row">
                    <label for="MAX_Z">MAX_Z</label>
                    <span class="current-value" id="MAX_Z_current"></span>
                    <input type="number" step="0.1" name="MAX_Z" id="MAX_Z_input" placeholder="Modifier...">
                </div>
                <div class="form-actions">
                    <button type="submit" id="updateBoxBtn">
                        <span class="icon">
                            <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:18px;height:18px;">
                                <path d="M10 2a8 8 0 1 1-7.446 5.032l1.857.742A6 6 0 1 0 10 4V2z"/>
                                <polygon points="2,2 6,2 6,6" fill="#23272f"/>
                            </svg>
                        </span>
                        Mettre à jour
                    </button>
                </div>
            </form>
        </div>
        <div id="overlay-particles">
            <h2>Gestion Particules</h2>
            <div class="particles-actions-row">
                <button id="downloadParticlesBtn" type="button">
                    <span class="icon">
                        <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2v10m0 0l-4-4m4 4l4-4" stroke="#23272f" stroke-width="2" fill="none"/>
                            <rect x="4" y="16" width="12" height="2" rx="1" fill="#23272f"/>
                        </svg>
                    </span>
                    Sauvegarder
                </button>
                <input type="file" id="uploadParticlesInput" accept=".json" style="display:none;">
                <button id="uploadParticlesBtn" type="button" id="sendBtn">
                    <span class="icon">
                        <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 18V8m0 0l-4 4m4-4l4 4" stroke="#23272f" stroke-width="2" fill="none"/>
                            <rect x="4" y="4" width="12" height="2" rx="1" fill="#23272f"/>
                        </svg>
                    </span>
                    Envoyer
                </button>
            </div>
            <div id="uploadParticlesStatus">&nbsp;</div>
        </div>
    </div>
    <!-- Nouveau container pour les overlays bas droit -->
    <div id="bottomright-overlays-container">
        <div id="overlay-render">
            <h2>Rendu Particules</h2>
            <form id="renderForm" autocomplete="off">
                <div class="form-row">
                    <label for="render_particle_size">ParticleSize</label>
                    <span class="current-value" id="render_particle_size_current"></span>
                    <input type="number" min="1" max="100" step="0.1" id="render_particle_size" name="render_particle_size" value="">
                </div>
                <div class="form-row">
                    <label for="render_particle_color">Colour</label>
                    <span class="current-value" id="render_particle_color_current"></span>
                    <input type="color" id="render_particle_color" name="render_particle_color" value="#ffff00" style="width:40px;height:28px;padding:0;border:none;">
                </div>
                <div class="form-row">
                    <label for="render_type">Render</label>
                    <span class="current-value" id="render_type_current"></span>
                    <select id="render_type" name="render_type">
                        <option value="mesh">Sphère</option>
                        <option value="points">Points</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="render_update_paused">UpOnPause</label>
                    <span class="current-value" id="render_update_paused_current"></span>
                    <label class="switch" alt="Mettre à jour le rendu lors de la pause">
                        <input type="checkbox" id="render_update_paused" name="render_update_paused">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="form-actions">
                    <button type="submit" id="applyRenderBtn">
                        <span class="icon" id="applyRenderIcon">
                            <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:18px;height:18px;">
                                <path d="M10 2a8 8 0 1 1-7.446 5.032l1.857.742A6 6 0 1 0 10 4V2z"/>
                                <polygon points="2,2 6,2 6,6" fill="#23272f"/>
                            </svg>
                        </span>
                        Mettre à jour
                    </button>
                </div>
            </form>
        </div>
        <div id="overlay-scale">
            <h2>Échelle coordonnées</h2>
            <form id="scaleForm" autocomplete="off">
                <div class="scale-range-row">
                    <span class="axis-label">X</span>
                    <input type="number" step="0.01" name="scale_x_min" id="scale_x_min" placeholder="Min X " value="0">
                    <span class="to-label">→</span>
                    <input type="number" step="0.01" name="scale_x_max" id="scale_x_max" placeholder="Max X " value="1000">
                </div>
                <div class="scale-range-row">
                    <span class="axis-label">Y</span>
                    <input type="number" step="0.01" name="scale_y_min" id="scale_y_min" placeholder="Min Y " value="0">
                    <span class="to-label">→</span>
                    <input type="number" step="0.01" name="scale_y_max" id="scale_y_max" placeholder="Max Y " value="1000">
                </div>
                <div class="scale-range-row">
                    <span class="axis-label">Z</span>
                    <input type="number" step="0.01" name="scale_z_min" id="scale_z_min" placeholder="Min Z " value="0">
                    <span class="to-label">→</span>
                    <input type="number" step="0.01" name="scale_z_max" id="scale_z_max" placeholder="Max Z " value="1000">
                </div>
                <div class="form-actions">
                    <button type="button" id="toggleScaleBtn">
                        <span id="toggleScaleBtnText">Activer</span>
                    </button>
                    <button type="submit" id="updateScaleBtn">
                        <span class="icon">
                            <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:18px;height:18px;">
                                <path d="M10 2a8 8 0 1 1-7.446 5.032l1.857.742A6 6 0 1 0 10 4V2z"/>
                                <polygon points="2,2 6,2 6,6" fill="#23272f"/>
                            </svg>
                        </span>
                        Appliquer
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Overlay pour la timeline -->
    <div id="overlay-timeline">
        <button id="playBtn" title="Lecture">
            <span class="icon" id="playIcon">
                <!-- Icône Play -->
                <svg viewBox="0 0 20 20" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:20px;height:20px;">
                    <polygon points="5,3 17,10 5,17"/>
                </svg>
            </span>
        </button>
        <button id="recordBtn" title="Enregistrer">
            <span class="icon">
                <!-- Icône Record -->
                <svg viewBox="0 0 20 20" fill="#e74c3c" xmlns="http://www.w3.org/2000/svg" style="width:20px;height:20px;">
                    <circle cx="10" cy="10" r="7"/>
                </svg>
            </span>
        </button>
        <button id="rewindBtn" title="Retour 5s">
            <span class="icon" style="display: flex; align-items: center; justify-content: flex-start; width: 100%; height: 100%; margin-left: 4px;">
                <!-- Icône rewind -->
                <svg viewBox="0 0 24 24" fill="#23272f" xmlns="http://www.w3.org/2000/svg" style="width:28px;height:28px;">
                    <polygon points="16,5 7,12 16,19" />
                    <rect x="18" y="5" width="2.5" height="14" rx="1"/>
                </svg>
            </span>
        </button>
        <!-- Ajout des champs pour l'historique et le pas du rewind -->
        <div id="rewind_settings" style="display: flex; flex-direction: column; gap: 4px; margin-left: 18px;">
            <div class="timeline-row">
                <form id="rewindForm" autocomplete="off">
                    <label class="timeline-label" for="rewind_max_history_input">
                        Durée d'historique
                    </label>
                    <input type="number" id="rewind_max_history_input" min="1" step="1" value="">
                    <span class="timeline-unit">s</span>
                    <!-- Bouton faux invisble pour pouvoir soumettre le formulaire avec la touche Entrée -->
                    <button type="submit" style="display:none;"></button>
                </form>
            </div>
            <div class="timeline-row">
                <label class="timeline-label" for="rewind_time_input">
                    Pas du rewind
                </label>
                <input type="number" id="rewind_time_input" min="0.1" step="0.1" value="5">
                <span class="timeline-unit">s</span>
            </div>
        </div>
    </div>
    <!-- Scene de rendu WebGL -->
    <canvas id="scene"></canvas>
    <!-- Import des scripts JavaScript -->
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.177.0/build/three.module.js"
                }
        }
    </script>
    <script type="module" src="includes/scripts.js"></script>
</body>
</html>